.hero-image{
    background-image: url(./Images/galle\ crop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.hero-text{
    font-size: 150px;
    color: white;
    margin: auto;
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 0px;

}

h2{
    font-size: 90px;
    color: white;
    margin: 0px;
    padding-left: 40px;
    padding-top: 0px;
}

.image-container1{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-image: url(./Images/51898.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block; 
    margin-left: 600px;
    margin-top: 50px;
}

.image-container2{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-image: url(./Images/51899.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block; 
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 90px;
}

.image-container3{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-image: url(./Images/51900.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;
    margin-right: 150px;
    margin-top: 50px; 
}

/* personal review container and text */

.text-container{
    background-color: #40B0BF;
    width: 400px;
    height: 120px;
    margin-top: 700px;

    position: absolute;
    top: 120px;
    left: 750px;
    z-index: 2;
}

.underlay-container{
    background-color: #FCB735;
    width: 600px;
    height: 240px;
    margin-top: 700px;

    position: absolute;
    top: 0;
    left: 750px;
    z-index: 1;
}

/* conatiners for information/text - top 5 */

.container1{
    height: 300px;
    width: 1200px;
    background-color:#053363;
    padding-top: 30px;
    display: block;
    margin-top: 500px;
    margin-left: 30px;
}

.container2{
    height: 300px;
    width: 1200px;
    background-color: #175B91;
    padding-bottom: 30px;
    display: block;
    margin-top: 40px;
    margin-left: 30px;
}

.container3{
    height: 300px;
    width: 1200px;
    background-color:#053363;
    padding-bottom: 30px;
    display: block;
    margin-top: 40px;
    margin-left: 30px;

}

.container4{
    height: 300px;
    width: 1200px;
    background-color: #175B91;
    padding-bottom: 30px;
    display: block;
    margin-top: 40px;
    margin-left: 30px;
}

.container5{
    height: 300px;
    width: 1200px;
    background-color:#053363;
    padding-bottom: 30px;
    display: block;
    margin-top: 40px;
    margin-left: 30px;

}

/* container texts - contain info and titles of top 5 */

.container-text1{
    color: whitesmoke;
}

.container-text2{
    color: whitesmoke;
    font-size: 50px;
}

.container-text3{
    color: whitesmoke;
}

.container-text4{
    color: whitesmoke;
}

.container-text5{
    color: whitesmoke;
}


/* image placeholders for pictures of top 5 places */

.image-container-4{
    width: 170px;
    height: 120px;
    background-image: url(./Images/1000021992.jpg);
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 1400px;
}

.image-container-5{
    width: 170px;
    height: 120px;
    background-image: url(./Images/1000021998.jpg);
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 1400px;
}

.image-container-6{
    width: 170px;
    height: 120px;
    background-image: url(./Images/1000005850.jpg);
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 1400px;
}

.image-container-7{
    width: 170px;
    height: 120px;
    background-image: url(./Images/1000021995.jpg);
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 1400px;
}

.image-container-8{
    width: 170px;
    height: 120px;
    background-image: url(./Images/1000005686.jpg);
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 1400px;
}

.content{
    display: inline-block;
}