.hero-image{
    background-image: url(./Images/1000004618.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.hero-text{
    font-size: 150px;
    color: white;
    margin: auto;
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 0px;

}

h2{
    font-size: 90px;
    color: white;
    margin: 0px;
    padding-left: 40px;
    padding-top: 0px;
}

.dot{
    height: 50px;
    width: 50px;
    display: inline-block;
    color: #175B91;
}
