.hero-image{
    background-image: url(./Images/galle\ crop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.hero-text{
    font-size: 150px;
    color: white;
    margin: auto;
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 0px;

}

h2{
    font-size: 90px;
    color: white;
    margin: 0px;
    padding-left: 40px;
    padding-top: 0px;
}

.image-container1{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-image: url(./Images/Screenshot\ 2026-08-03\ 104839.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block; 
    margin-left: 600px;
    margin-top: 50px;
}

.image-container2{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-image: url(./Images/Screenshot\ 2026-08-03\ 182049.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block; 
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 90px;
}

.image-container3{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-image: url(./Images/Screenshot\ 2026-08-03\ 182104.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;
    margin-right: 150px;
    margin-top: 50px; 
}

.text-container{
    background-color: #40B0BF;
    width: 400px;
    height: 120px;
    margin-top: 700px;

    position: absolute;
    top: 120px;
    left: 750px;
    z-index: 2;
}

.underlay-container{
    background-color: #FCB735;
    width: 600px;
    height: 240px;
    margin-top: 700px;

    position: absolute;
    top: 0;
    left: 750px;
    z-index: 1;
}


.container1{
    height: 200px;
    width: 1400px;
    background-color:#053363;
    padding-top: 30px;
    display: block;
    margin-top: 500px
}

.container2{
    height: 200px;
    width: 1400px;
    background-color: #175B91;
    padding-bottom: 30px;
    display: block;
    margin-top: 40px;
}

.container3{
    height: 200px;
    width: 1400px;
    background-color:#053363;
    padding-bottom: 30px;
    display: block;
    margin-top: 40px;

}

.container4{
    height: 200px;
    width: 1400px;
    background-color: #175B91;
    padding-bottom: 30px;
    display: block;
    margin-top: 40px;
}

.container5{
    height: 200px;
    width: 1400px;
    background-color:#053363;
    padding-bottom: 30px;
    display: block;
    margin-top: 40px;

}

/* container texts - contain info and titles of top 5 */

.container-text1{
    color: whitesmoke;
}

.container-text2{
    color: whitesmoke;
}

.container-text3{
    color: whitesmoke;
}

.container-text4{
    color: whitesmoke;
}

.container-text5{
    color: whitesmoke;
}